[2021-11-22 18:43] benhylau opened #1 "Find a home to deploy the API"
## Task Summary

📅 **Due date:** 23 Nov 2021
🎯 **Success criteria:** Have the Python API in this repo hosted on a public endpoint I can POST files to.

## To Do

- [x] Decide were to put it
- [x] Create a functioning environment
  - [x] install and run api server as server
  - [x] Get a hostname
  - [x] nginx for SSL
- [x] Define location for files
- [x] Final resting place of API

[2021-11-22 18:50] benhylau opened #2 "Build an API to receive files and output C2PA-injected images"
## Task Summary

📅 **Due date:** 24 Nov 2021
🎯 **Success criteria:** Build an API that allows backend to receive [ photos + JSON ] and inject C2PA with capture signatures in Capture assertion.

Links you'll need:
- `claim-tool` binary and docs: https://github.com/starlinglab/organizing-private/issues/14#issuecomment-973704015
- C2PA v0.8 verifier: https://verify.contentauthenticity.org/inspect
- C

[2021-11-22 18:55] benhylau opened #3 "Specific input data and claim formats"
## Task Summary

📅 **Due date:** 24 Nov 2021
🎯 **Success criteria:** Specify data formats and schema of the Starling Capture API.

## To Do

- [x] Specify current output of Starling Capture
- Specify claim format for input into `claim-tool` at:
  - [x] Capture assertion (post Starling Capture app)
  - [x] Edit assertion (post Nexus/Photoshop)
  - [x] Store assertion (post IPFS/Filecoin)
- [x] Deta

[2021-11-25 19:03] benhylau opened #4 "Publishing to IPFS and Filecoin"
## Task Summary

📅 **Due date:** N/A
🎯 **Success criteria:** Publish a bunch of cat photos to IPFS nad Filecoin and get back the IPFS CID and Filecoin Piece CID.

I put a folder of openly licenses cat photos onto SCMP's FTP. Please investigate how best to publish them onto IPFS and Filecoin and receive the IPFS CID and a permanent identifier to discover the asset on the Filecoin network (I think t

[2021-11-29 17:46] benhylau opened #6 "FTP sync with SCMP FTP server"
## Task Summary

📅 **Due date:** 29 Nov 2021
🎯 **Success criteria:** Bidirectional sync with FTP server.

## To Do

- [x] Set up sync with SCMP server
- [x] Evaluate existing sync solution (do we keep?)

[2021-12-01 14:17] benhylau opened #7 "Create JS sample for displaying C2PA-injected images created from backend"
## Task Summary

📅 **Due date:** N/A
🎯 **Success criteria:** Render overlay from C2PA-injected image using Adobe's js-sdk.

This needs to support lazy loading of the C2PA image.

Take @YurkoWasHere's b64 lazy load http://node2.e-mesh.net/lazy/index.html and Adobe's js-overlay https://contentauthenticity.org/how-it-works and make it work with an image we created.

<img width="1391" alt="Screen Shot

[2021-12-03 05:50] benhylau opened #9 "Open source the repo"
## Task Summary

📅 **Due date:** N/A
🎯 **Success criteria:** Open source the repo.

This task tracks a list of TODOs for FOSSing.

## To Do

- [x] Change repo name to `starling-integrity-api`
- [x] Add MIT license
- [x] Verify no credentials / sensitive info are in the code and issues
- [x] Make sure it's well documented
- [x] Make this repo public
- [x] Rename subfolder https://github.com/starlin

[2021-12-14 17:25] benhylau opened #21 "Verify our EXIF geo encoding code"
## Task Summary

📅 **Due date:** N/A
🎯 **Success criteria:** Verify that we are generating valid EXIF and the transformed lat long is accurate.

1. Note GPS (lat, long) of a an image in Starling Capture.
2. Take the image thru our system, take the EXIF block in C2PA and insert them into the image (or any image) with some exif tool.
3. Put the photo thru some photo locator service and make sure we

[2021-12-14 18:50] anaulin opened #23 "Add smoke testing for API server"
## Task Summary

📅 **Due date:** N/A
🎯 **Success criteria:** We are confident at all times that code in `main` can successfully serve basic `/create` requests

Right now the only automated tests we have are a couple of unit tests for the logic behind claim generation. It would be good to have a way to automatically verify that code at head is still functional enough that it can serve basic API req

[2021-12-14 22:02] benhylau opened #24 "File corruption on store action"
## Task Summary

📅 **Due date:** N/A
🎯 **Success criteria:** Fix bug on store action where photo gets corrupt.

Have a look at these files in `store-output` I passed thru SCMP sftp. It happens to all the photos now, it seems. The files are from my HTC Exodus s1.

![3abeabe056d53064e8aac4600f3311651d32c19abfb3d5e5017b9e7446d7e072](https://user-images.githubusercontent.com/2261308/146086403-c61d9fdc

[2021-12-17 05:58] benhylau opened #36 "FTP sync broken"
## Task Summary

📅 **Due date:** N/A
🎯 **Success criteria:** Fix ftp sync.

FTP sync stopped working and manual run has it crashing with:

[code]

## To Do

- [ ] ...

[2022-01-17 22:07] anaulin commented on #9
@benhylau Are there any other documentation tasks that need to happen before we can mark this ticket as "done"? If yes, can you clarify what should be further documented, so that I can get it done?

[2022-01-17 22:08] anaulin commented on #1
All the tasks at the top of this ticket are marked as done. @benhylau @YurkoWasHere can this entire ticket be closed, or are we still working on some additional tasks?

[2022-01-27 00:10] #1 closed

[2022-01-27 00:11] benhylau commented on #2
I think we built the APIs for the job at the time. Future APIs can be scoped in new tickets. Closing!

[2022-01-27 00:11] #2 closed

[2022-01-27 00:14] benhylau commented on #4
The backend now publishes. We need to add more features like polling web3.storage for Piece CID when available then do injection. Spinning out a new ticket.

[2022-01-27 00:14] #4 closed

[2022-01-27 00:17] benhylau opened #50 "Auto injection of Filecoin Piece CID"
## Task Summary

📅 **Due date:** mid-March
🎯 **Success criteria:** Delay and automate the injection of the store claim, to contain both IPFS CID and Filecoin Piece CID.

See: https://github.com/starlinglab/starling-integrity-api/issues/4#issuecomment-1022721737

Poll for Piece CID from web3.storage and do injection once available. Before being able to do this, we need to have a better way to track

[2022-01-27 00:20] benhylau commented on #7
Let's get this into the repo as an example. Can we take a photo from a url param and make CORS work?
https://lab1.starling.hypha.coop/lab/Sample2/

[2022-01-27 00:25] benhylau commented on #9
I think we should doc the `create` API. This way, we can have clients other than starling-capture sending to this. I think it's a matter of taking from here: https://github.com/starlinglab/starling-integrity-api/issues/3#issuecomment-978061281 what actually got implemented (e.g. what error codes are actually returned, what multipart keys are actually read, etc.) and putting it in README.md or a AP

[2022-01-27 00:26] benhylau commented on #3
The last subtask here seems to be same as #9.

[2022-01-27 00:28] benhylau commented on #21
This verification would be quite important for BCN. Bumping 🆙

[2022-01-27 00:29] benhylau commented on #23
I think we are still waiting on clarity on what API is needed.

[2022-01-27 00:30] benhylau commented on #36
Okay this seems to be due to the partial wiping of FTP sync management files. It didn't happen again and the system has been reliable. Closing.

[2022-01-27 00:30] #36 closed

[2022-01-28 21:27] anaulin commented on #21
I believe I have verified our conversion is correct, using sample data from this Slack thread (https://starlinglabhq.slack.com/archives/C02LDUFLSR2/p1643335152553089?thread_ts=1643241541.088700&cid=C02LDUFLSR2).

**Steps**

1. Install `exiftool` CLI downloaded from https://exiftool.org/

2. Using `exiftool`, add the sample GPS data from our assertion into an image:
[code]

3. Double-check with `ex

[2022-01-28 22:20] YurkoWasHere commented on #21
Looks like we are missing resolution on this test

`38/1 8/1 6506012611690103/281474976710656`
which is identified as

`38/ Hours` `8/1 Minutes` `6506012611690103/281474976710656 Seconds`

`38 deg 1' 8.00" N` only shows `Hours` and `minutes` and has `0` for seconds.

This is like rounding 2.63132 to 2.63, its right but not accurate.

I'm curious to see if the seconds is correct.

Although keeping

[2022-01-28 22:48] YurkoWasHere commented on #21
Reproduced @anaulin 's result but I'm still still not happy with lack of precision in the test.

I have confirmed exittool can store better precision by manually converting my result to decimal and using `-gpslatitude="38.13975389"` to update the phone. Result was  `38 deg 8' 23.11"`

[2022-01-29 00:03] YurkoWasHere commented on #21
Reading the EXIF spec the value for Long and Lat are `rational64u`

Running `exiftool.exe cat-test.jpg  -n -v` will give you the raw data

`GPSLatitude = 38 8 23.11400422 (38/1 8/1 32845/1421)`

With both values now visible, we can confirm the math is simply division.

✅Math of `32845/1421` =  `23.11400422237861` which matches `23.11400422`

**Deeper dive**

Running a more verbose exif `exiftool.e

[2022-01-29 00:40] anaulin commented on #21
Thanks for double-checking, this @YurkoWasHere. Sounds like we are confirming that our math is correct and we are representing the lat/lon we have correctly in exif format in our assertions.

[2022-01-29 03:23] YurkoWasHere commented on #21
Our current method of dealing with fractions is to use the fraction function
https://github.com/starlinglab/starling-integrity-api/blob/main/starlingcaptureapi/exif.py#L74

This generates an 8 byte numerator and denominator, however EXIF specs define this is being only 4 bytes in size.

Although the value does calculate properly, it cannot be used inside an EXIF directly. This may also lead to con

[2022-01-29 03:25] YurkoWasHere commented on #21
✅External Test confirmation

- On a android phone checked google maps for position
- Took Picture and sent it through starling integrity app
- Decoded C2PA GPS coordinates
- Entered them into google maps and confirmed visually position looked identical as initial check

[2022-02-01 18:24] benhylau commented on #6
Suggestions:
- Can add a flag to server, start ftpsync service if flag is on
- Dropbox / S3 API sync
- Sync vs. "watch"
  - "watch" is always on (not flagged)
- If we use Dropbox, then we don't need client to give us a FTP, and sync may be more reliable

Flag it off in Ansible for now, let's see how things go after. Maybe Dropbox API to replace Ben-sync.

[2022-02-01 18:25] #6 closed

[2022-02-01 18:33] benhylau commented on #21
We decided to do this:

[code]

[2022-02-03 23:59] benhylau opened #52 "Add grouping of created photos by date"
## Task Summary

📅 **Due date:** mid-Feb
🎯 **Success criteria:** Group photos in `create-output` folder by date.

Please add additional date sub-directory.
[code]

## To Do

- [x] Add feature
- [x] Deploy this for BCN instance

[2022-02-04 00:24] anaulin commented on #52
Are we ok adding this behavior as the default for the server? Or do we want this to be somehow configurable or switchable?

[2022-02-04 00:36] benhylau commented on #52
I think default is ok.

[2022-02-04 00:51] anaulin opened #53 "Integrate ISCN registration into integrity API server"
## Task Summary

📅 **Due date:** mid-March
🎯 **Success criteria:** When an asset is pushed by our server to IPFS, it also registers the piece of content on ISCN (at least one one chain)

- [Example registered content](https://app.like.co/view/iscn:%2F%2Flikecoin-chain%2Flaa5PLHfQO2eIfiPB2-ZnFLQrmSXOgL-NvoxyBTXHvY%2F1)
- [ISCN Tx sample](https://github.com/likecoin/iscn-specs/blob/master/sample/isc

[2022-02-04 02:46] anaulin commented on #53
Misc notes and bookmarks for my own future reference:
* https://github.com/likecoin/iscn-js lib seems a relatively straightforward implementation of a series of signing and transaction broadcast steps, depending largely on the  `@cosmjs/stargate` libraries. Which is to say: we could probably implement our own purpose-specific implementation of this using either directly the Cosmos SDKs or even tal

[2022-02-04 05:57] benhylau commented on #53
I wonder if this is the custodial wallet flow where LikeCoin manages a wallet on your behalf, and issues you an oauth token.  The wallet flow shouldn't have a Liker ID. Not sure.

I recall William said something about JS being the more developed libraries in Cosmos. My concern with this path is we end up being maintainer of a iscn-python library that needs to track a changing ISCN spec. However, I

[2022-02-04 20:17] anaulin commented on #53
Yep, I believe the OAuth flow is where you have a LikerID that's linked to your wallet, and then you use OAuth to identify yourself as the owner of that LikerID.

[2022-02-07 16:20] benhylau opened #54 "Multi-org support of same instance"
## Task Summary

📅 **Due date:** Target Feb 16 ideally, otherwise Feb 23 (Phase 1)
🎯 **Success criteria:** Add multi-org support and deploy on second instance (aka. BCN instance).

Right now, each instance supports only one org because there is "org id" type of indicator in the API (or JWT) and the directory structure essentially assumes one org user per API. As a result, we have to deploy a Dropl

[2022-02-07 17:41] YurkoWasHere commented on #54
`FTP` Sync
- We could have potentially a different sync platform per org.
- Would most likely be triggered by cron job as you have no trigger of when remote file changes
- Could integrate SFTP sync script to check each org's json file and execute all syncs (1 per org) that are required
- makes most sense to put cred in json file
- Currently credentials need to be stored in `~/.netrc` this file wou

[2022-02-08 18:30] #21 closed

[2022-02-08 19:07] benhylau commented on #54
Figure out how to watch folders for multiple tenants https://github.com/starlinglab/starling-integrity-api/blob/31b037f1bfe0e40e5777205bd67e852168e395ed/starlingcaptureapi/fs_watcher.py#L35-L54

[2022-02-15 05:47] benhylau opened #56 "Integrate Numbers Protocol registration into integrity API server"
## Task Summary

📅 **Due date:** March 7, 2022
🎯 **Success criteria:** Register to Numbers Protocol following same pattern as #53.

Post-editorial content (same ones we register to LikeCoin ISCN) will be registered with Numbers. This will be similar to our integration with LikeCoin (https://github.com/starlinglab/starling-integrity-api/issues/53). In this case we'd have a IOTA wallet, register a C

[2022-02-18 07:19] benhylau commented on #9
Also need to rename the subfolder to `starlingintegrityapi` from `starlingcaptureapi` still.

[2022-02-18 17:56] #52 closed

[2022-02-18 21:27] anaulin opened #60 "Make sure server starts up on Mac OS"
## Task Summary

📅 **Due date:** N/A
🎯 **Success criteria:** `pipenv run server` succeeds on Mac OS; timebox work -- abandon this if it is turns out to be Too Hard ™️

Ben ran into this issue on his local machine:
[code]

## To Do

- [ ] Reproduce issue locally
- [ ] Make fix

[2022-02-19 03:05] anaulin commented on #53
@benhylau I need help figuring out what do we want to put in the ISCN registration.

The schema definition is here: https://github.com/likecoin/iscn-specs/tree/master/schema

It seems the most important part of this is the "contentMetadata" section:
[code]

William's server only makes the "type" required. There are other fields outside of this contentMetadata section (e.g. stakeholders) which we m

[2022-02-22 18:23] benhylau commented on #53
@benhylau to sort this and reviewed with LikeCoin before @anaulin comes back from vacation. New APIs?

We have the org id but not the full JWT.

[2022-03-01 14:50] benhylau commented on #56
Numbers Protocol uses a CID as key to associate entries on AVAX. See (legacy, on IOTA) examples here:

https://explorer.iota.org/mainnet/indexed/6261667962656961376275796c7a7533376c64747567716c32657570793634667733677a6a71796f69766774336a79786536643479756767683234

First we'll register an asset with a _Registration Record_ at creation. Bottom-most here:

![Screen Shot 2022-03-01 at 9 43 23 AM](http

[2022-03-01 21:45] YurkoWasHere opened #61 "Implement Opentimestamps"
## Task Summary

📅 **Due date:** N/A
🎯 **Success criteria:** Research and then implement opentimestamps

---

Read these to understand the OpenTimestamps system:
- https://en.wikipedia.org/wiki/OpenTimestamps
- https://petertodd.org/2016/opentimestamps-announcement

## Research

- [Python library](https://github.com/opentimestamps/python-opentimestamps)
- [CLI](https://github.com/opentimestamps/op

[2022-03-01 21:55] anaulin commented on #53
From a conversation with William, it seems like it is strongly recommended that we provide at least the fields: `name`, `description`, `type`, `contentFingerprints` (at least one fingerprint).

For `type` we would use a subclass of `CreativeWork` (https://schema.org/CreativeWork#subtypes), e.g. `Image`, `Video`, `Text`, etc. And we can provide any additional metadata we want that is suitable for t

[2022-03-03 14:38] benhylau commented on #53
Let's do SHA256 and CIDv1:
- https://www.w3.org/TR/did-core/#bib-multibase
- https://proto.school/anatomy-of-a-cid/05

We'll have a helper func to compute each, so for now just mock a helper function for either.

Leave empty. I read the docs and feel it is not useful for out purpose at least for now.

For the UA stuff we can either use [ArchiveComponent](https://schema.org/ArchiveComponent) subtyp

[2022-03-03 21:02] anaulin commented on #53
Got it. All of this makes sense, thanks for the detailed responses, @benhylau.

I have followed up with William to clarify the `author` schema question, will let you know what he says. If we can't use exactly what we have in `config.json` for the `author`, we can compute a one-string version of it (e.g. we could set `author` to `${name} (${identifier})`, with `name` and `identifier` coming from th

[2022-03-03 21:09] anaulin commented on #53
By the way, looking at https://schema.org/author, it seems like it is not meant to be an array, but just a single Person or Organization, and in our config.json  we set it to an array (which is what goes into the C2PA claims). So I think the way we have it set up right now I think might not be aligned with what [schema.org](http://schema.org/) expects.

Here is the example they give:
[code]

[2022-03-03 21:17] anaulin commented on #53
One remaining question I have is: from where will we be calling this “registration”? Knowing the rough place in the data flow when we’ll be doing this helps me figure out what makes sense as parameters that can be passed, the interface between the various pieces of code, etc.

In my WIP PR I wired the registration into the implementation of the store “action”, just after uploading to Filecoin (see

[2022-03-03 21:19] anaulin commented on #53
William just confirmed that we can use an `Organization` or `Person`, and that they use just a string in the examples to keep it simple.

[2022-03-03 23:07] benhylau commented on #53
## re: `author` schema

According to this it seems to take object or https://github.com/likecoin/iscn-specs/tree/master/schema/contentMetadata so that's consistent with what William has. What I am not sure is if it can take an array.

C2PA seems to allow for an array (from something we injected):
[code]

An earlier example from Adobe:

[code]

But just bc they are in examples, and not flagged in a

[2022-03-03 23:31] benhylau commented on #53
The "place" is here:

<img width="1242" alt="Screen Shot 2022-03-03 at 6 21 23 PM" src="https://user-images.githubusercontent.com/2261308/156669706-5abbedc5-b575-4d86-b1fd-f607c23ba407.png">

🤔 but where is the code??

My thoughts on this aren't well formed yet. Still trying to make our "folder drop off" model from SCMP work with this new "batching" model. So treat this as a hypothetical flow and

[2022-03-04 00:42] benhylau opened #62 "Expand FileUtil to hash CIDs and do AES encrypt"
We currently have [FileUtil](https://github.com/starlinglab/starling-integrity-api/blob/main/starlingcaptureapi/file_util.py) that does helper operations for file manipulation. We need to add two new functionalities here:

1. Hash CIDv1 (same algo that Numbers Protocol uses internally for registration)
2. Encrypt with AES-256-CBC

Alongside functions that enable these operations, such as generatin

[2022-03-04 01:38] anaulin commented on #53
### re: author schema

I ran the examples we have trough https://validator.schema.org/. My conclusions:
* having an array is actually fine and supported
* the `credential` property seems to be made up, and is not supported; the validator says "The property credentials is not recognized by the schema (e.g. schema.org) for an object of type Person."
  *  neither https://schema.org/Person nor https:/

[2022-03-04 01:41] anaulin commented on #53
### re: general architecture and interface for our ISCN code

That all makes sense to me. It does sounds like we are moving the implementation of assembling the full registration JSON until we have the batching code ready, but that also seems straightforward to implement, since you've already thought through the various bits of e.g. how the organization is encoded.

I'm going to make a reviewable

[2022-03-07 19:49] benhylau commented on #53
@anaulin oh thanks for passing this thru the validator. The `credential` or `credentials` field is exactly the one I discussed with Adobe about. It seems to have some definition that is defined in C2PA: https://c2pa.org/public-draft/C2PA_Specification.html#_common_data_model_actor

<img width="742" alt="Screen Shot 2022-03-07 at 2 43 29 PM" src="https://user-images.githubusercontent.com/2261308/15

[2022-03-08 16:12] makeworld-the-better-one opened #63 "Implement CIDv1 generation in FileUtil"
## Task Summary

📅 **Due date:** N/A
🎯 **Success criteria:** Generating CIDv1 hashes of files.

## Research
- Dietrich has confirmed that you can't do pure Python generation of CIDv1, at least not with re-implementing a lot of IPFS stuff
- There is [ipfs-only-hash](https://www.npmjs.com/package/ipfs-only-hash) in NodeJS, ~~but it's [broken](https://github.com/alanshaw/ipfs-only-hash/issues/21) for

[2022-03-08 18:49] benhylau commented on #61
Create a `opentimstamps.py` that would take in a _filepath_ and register it with a cal server then store the proof file to a path.

[2022-03-08 18:58] makeworld-the-better-one commented on #63
Add code to do this in `file_util.py`. Use env var to point to IPFS binary.

[2022-03-08 19:06] anaulin commented on #53
Re: the extraneous `credential` field, we decided to remove it from our `config.json`, to make it compliant with schema.org, and instead we can have a line of code in our c2pa generation to add always a blank `credential: []` field (which is only necessary to appease the Adobe validator, for now).

@benhylau does it make sense to open a separate GitHub issue of this ^ bit?

[2022-03-09 00:00] benhylau opened #65 "Remove credential field from org config"
## Task Summary

📅 **Due date:** N/A
🎯 **Success criteria:** Remove crendential field in org config and keep in c2pa.

See: https://github.com/starlinglab/starling-integrity-api/issues/53#issuecomment-1062108290

## To Do

- [ ] ...

[2022-03-10 15:43] benhylau opened #67 "Implement archiving Action"
## Task Summary

📅 **Due date:** N/A
🎯 **Success criteria:** Implement components that generates and registers encrypted archiving according to archiving policy on a collection.

Draft workflow:

<img width="902" alt="Screen Shot 2022-03-10 at 10 40 34 AM" src="https://user-images.githubusercontent.com/2261308/157698021-ecd5e1b9-da1c-4cbc-bf7a-ba14b968ad76.png">

## To Do

- [ ] ...

[2022-03-10 20:45] anaulin commented on #67
In today's discussion with @makeworld-the-better-one and @benhylau we determined that, for now, we can push the task of batching to the different data producers (i.e. each bot, web archivers, etc). That way each data producer can implement the batching logic that makes most sense for their particular type of data.

In the mid/long-term, we can build a separate "batching service" (which could be a

[2022-03-11 20:10] anaulin commented on #60
@benhylau closing this as fixed, but do feel free to reopen if you find that you are still running into issues

[2022-03-11 20:10] #60 closed

[2022-03-15 13:49] makeworld-the-better-one opened #71 "Add MD5 hashing"
## Task Summary

📅 **Due date:** N/A
🎯 **Success criteria:** `digest_md5` function in `file_util.py`

Similar to `digest_sha256` function. Came from a comment in a PR, see https://github.com/starlinglab/starling-integrity-api/pull/64#discussion_r826944668

[2022-03-15 13:57] #63 closed

[2022-03-15 14:45] makeworld-the-better-one commented on #62
Not sure if MD5 should also be added to this list? Covered in #71

[2022-03-15 15:01] #61 closed

[2022-03-15 15:39] benhylau opened #73 "Adopt new configuration schema and implement new file structure with Collection directories"
## Task Summary

📅 **Due date:** N/A
🎯 **Success criteria:** Decide on file structure for Collections.

File structure chart: https://app.mural.co/t/starlinglab7814/m/starlinglab7814/1645818950661/a7fde68442959d82fbb968f2f825964cc1db86aa?sender=ub3a421c048efd7d270741703

## To Do

- [x] Figure out bot directories
- [x] Figure out WACZ directories

☝🏽 from perspective of the _backend_ (this repo) w

[2022-03-15 15:44] benhylau commented on #73
## Bots

| Platform | Scope per Docker instance | Collections per Docker instance | Channels per Collection |
|:--|:--|:--|:--|
| Slack | Workspace | 1 | Many |
| Telegram | Bot Account* | 1** | Many |
| Signal | Phone Number | 1 | Many |

*Can have many Bot Accounts per phone number
**Possible to split into many, but requires content inspection

[2022-03-17 13:38] #71 closed

[2022-03-17 21:01] benhylau commented on #67
@makeworld-the-better-one from today's discussion:

1. Copy ZIP file to a temporary directory for processing (i.e. unzip, append to zip, etc.)
2. Verify asset file, reject otherwise:
    - name matches `sha256(asset)`
    - extension is contained in `asset_extensions` for Collection
3. Generate [ CIDv1, SHA256, MD5 ] hashes for the asset file
4. Register on opentimestamp and download proof file in

[2022-03-17 21:05] benhylau commented on #65
This is sort of related. We currently put `creative_work_author` in two places:

1. JWT
2. config.json

They look something like this:

[code]

In `create` we use the JWT values. In `add`/`update` actions we use the config.json value (since there is no JWT). So I propose we make this an action-level param, and remove it from org altogether, as it is action-scoped.

So `update` config in config.jso

[2022-03-17 21:13] benhylau commented on #73
@anaulin is working on:
- [ ] new configuration schema
- [ ] directory structure and naming/bundling of files
- [ ] update folder watchers

See: https://hackmd.io/ALDXEZWjTDeyeoF7cE1AYg?view

[2022-03-17 22:14] anaulin commented on #65
Sounds good. I will incorporate ^ this into my work on https://github.com/starlinglab/starling-integrity-api/issues/73 with the new configuration schema.

[2022-03-22 17:42] makeworld-the-better-one commented on #56
API to register a commit: https://github.com/numbersprotocol/enterprise-service/wiki/Web-3.0-API#nit-commit

[2022-03-25 23:16] anaulin commented on #9
As per the conversation in https://starlinglabhq.slack.com/archives/C02LDUFLSR2/p1648247634341929, also rename the repo to remove `api` from the name, which is no longer accurate.

[2022-03-29 21:51] makeworld-the-better-one commented on #67
- Incoming ZIP file must be named to the SHA-256 hash of the ZIP, and rejected otherwise
- Incoming ZIPs are dropped into the folder `input` under the collection ID
- Copying the ZIP from `input` from `action-archive` happens at the beginning, and is done by the `archive` func

[2022-03-31 16:00] makeworld-the-better-one commented on #67
#76 has been merged to `dev` but is not yet complete, as it does not implement steps 7 and 8.

[2022-03-31 21:28] benhylau opened #79 "Update legacy actions used for C2PA injection"
## Task Summary

📅 **Due date:** N/A
🎯 **Success criteria:** Update legacy actions to support new internal file actions defined by configuration.

Our file watcher now watches for `./{collection_id}/input/*.zip`. A collection folder with 3 actions defined in config looks like:
[code]

This breaks legacy actions (create, add, update, store, custom). The way it'll work for the legacy actions is:
- `

[2022-03-31 22:11] anaulin commented on #79
Reminder that at the moment `create` is not watched at all, but instead handled via an HTTP endpoint that uses all the "legacy" non-collection-specific directory paths. If `create` becomes collection-specific, there will have to be some way for the HTTP request to provide the `collection_id` (could be in the request body, could be part of the JWT metadata, or something else).

[2022-03-31 22:29] anaulin commented on #73
The one remaining piece of work on this is moving the "legacy" actions to use the new system, which is now being tracked in: https://github.com/starlinglab/integrity-backend/issues/79

[2022-03-31 22:29] #73 closed

[2022-03-31 22:39] anaulin commented on #9
@benhylau the one remaining task in this issue is "Move content from [UA data model pad](https://hackmd.io/ALDXEZWjTDeyeoF7cE1AYg?view) to here", so I'm reassigning the ticket for you to complete and close.

[2022-03-31 22:40] #3 closed

[2022-04-04 19:58] YurkoWasHere opened #85 "Update legacy config handling"
## Task Summary

📅 **Due date:** N/A
🎯 **Success criteria:** ...

`config.py` has been updated with functions to read the config variables easily. All access to configurations should be done via the `config.ORGANIZATION_CONFIG.get*` functions.

There is currently a re-indexing of the read config to a key:value pair that should be addressed as well.

## To Do

- [ ] Identify where indexed config va

[2022-04-05 02:09] benhylau commented on #85
See: https://github.com/starlinglab/integrity-backend/pull/84/files#r842150626

[2022-04-05 18:11] benhylau opened #86 "IPFS CID pin orchestration through cluster into private swarm"
## Task Summary

📅 **Due date:** N/A
🎯 **Success criteria:** Be able to take encrypted archives and pin them across private swarm in staging.

[@YurkoWasHere to fill]

## To Do

- [ ] ...

[2022-04-06 00:57] benhylau commented on #86
Here are several links Storj shared in our last call that'd be helpful to go over as we investigate cross-pinning onto their storage network:
- https://demo.storj-ipfs.com
- https://docs.storj.io/dcs/concepts/access/
- https://docs.storj.io/dcs/concepts/access/access-management-at-the-edge/

[2022-04-07 17:55] benhylau commented on #56
@bafu can you comment on what I need to do to prepare these for registration? Right now, you see we have simply submitted CIDs to the `commit` API without any particular schema conformance on `assetTree` or `author`. I want to know whether there are expectations on the Numbers side.

See: https://github.com/starlinglab/integrity-backend/blob/f5d22c62d0774e556760dfa21a705d477d4c4a8d/integritybacken

[2022-04-11 08:58] galargh commented on #86
Here's the script that @YurkoWasHere  shared during the last sync:
[code]

If I understand correctly, the script finds objects that are pinned to local storage but not in the cluster and pins them in the cluster. Could you let me know where we intend to use it? I couldn't find it myself in the repos I have access to.

If it is to make sure that everything we add to `ipfs` is pinned in `ipfs-cluste

[2022-04-12 00:18] YurkoWasHere commented on #86
Yes, this essential syncs pins on ipfs into an ipfs-cluster. It started off as 3 lines and got turned into this crazy thing :) I was just looking at what is possible and how ipfs-cluster actaully works.

This is my understanding as well.

This function does not yet exist. Currently the only time we invoke IPFS is to generate the CID
https://github.com/starlinglab/integrity-backend/blob/59061993d98

[2022-04-12 00:33] YurkoWasHere commented on #86
It may be in Archive Action
https://github.com/starlinglab/integrity-backend/issues/67

[2022-04-12 00:37] YurkoWasHere opened #88 "Collections config file"
Holding place for integrity backend config file

[code]

[2022-04-13 05:39] benhylau opened #89 "Verification of Starling Capture signatures"
## Task Summary

📅 **Due date:** N/A
🎯 **Success criteria:** Verify cryptographic signatures that come in through Starling Capture app.

The integrity-backend currently does not verify signatures from the HTC Exodus phones. We simply rely on the JWT authorization, and proceed to trust that the photo came from the provisioned phone, but in fact, the phone provides [two signatures](https://github.co

[2022-04-14 20:53] benhylau commented on #89
## On how these "point of capture" sigs relate to "c2pa / authsign" sigs

The flow goes like this:
1. Device sends us stuff using their supported scheme (e.g. openssl, ethereum, issue-66-custom-scheme, cole-homemade-crypto-sign)
1. `integrity-backend` looks at the source, and decides "oh I know how to verify this", does the verification
1. If signature checks out there, then `integrity-backend` us

[2022-04-19 15:17] makeworld-the-better-one commented on #89
Zion signature is an Ethereum signature. Here is info on Ethereum signature from Nit beta:

![ethereum-signature-and-verification](https://user-images.githubusercontent.com/25111343/164037535-5fd0eb81-83b4-4ddc-b0dc-6126577c7a03.png)

[ethereum-signature-verification-examples.zip](https://github.com/starlinglab/integrity-backend/files/8514264/ethereum-signature-verification-examples.zip)

[2022-04-19 17:46] benhylau opened #91 "Fix the meta dump to not alter the text"
## Task Summary

📅 **Due date:** N/A
🎯 **Success criteria:** Fix JSON dump format so we can verify sigs properly in #89.

Write the raw JSON message [here](https://github.com/starlinglab/integrity-backend/blob/main/starlingcaptureapi/multipart.py#L46-L48) so it preserves a copy that can be verified.

## To Do

- [ ] ...

[2022-04-19 17:49] benhylau commented on #91
Capture from mitmproxy:

[code]

[2022-04-21 17:28] makeworld-the-better-one commented on #91
Only the meta JSON needs to be unmodified, as that's the JSON that is hashed. The signature JSON can be altered.

[2022-04-21 18:54] makeworld-the-better-one commented on #89
Currently blocked due to not being able to generate signatures ourselves that will validate. The demo file from Numbers does work. Waiting for Numbers to get back to us to see if they can explain/solve the issue.

[2022-04-26 15:43] galargh commented on #86
TODO @galargh:
- [ ] Check out https://demo.storj-ipfs.com/
- [ ] Describe findings from publicly available storj resources

[2022-04-28 15:41] galargh commented on #86
Axis to consider for the documentation:
[code]

[2022-04-28 17:02] makeworld-the-better-one opened #93 "C2PA on proofmode JPGs"
## Task Summary

📅 **Due date:** Monday May 2
🎯 **Success criteria:** Working `c2pa_proofmode` action

* Get rid of `create_proofmode` func
* Func: c2pa-proofmode / c2pa_proofmode
	- Input: zip path, config JSON
	- Unzip
	- Read from content_metadata to get photographer name (use Signal number for now): ``"private": { "signal": { "source": "+16475551234",``
	- Take each jpeg and inject
	- Output f

[2022-04-28 19:13] makeworld-the-better-one commented on #93
What timezone should the dates been in? For now I'll use UTC.

[2022-04-28 19:47] makeworld-the-better-one commented on #93
Draft PR made: https://github.com/starlinglab/integrity-backend/pull/94

@benhylau not sure what you want in the claim JSON/dictionary so I haven't filled out the code for that.

[2022-05-05 10:51] benhylau commented on #93
Updated PR. Pls review :)

[2022-05-10 14:09] makeworld-the-better-one commented on #93
New PR for this issue: #95

[2022-05-10 15:20] makeworld-the-better-one opened #96 "Verification of ProofMode signatures"
## Task Summary

📅 **Due date:** N/A
🎯 **Success criteria:** Verify file signatures from ProofMode applications

- Related: #89
- Not urgent
- Verifies signatures in proofmode zip, **in the preprocessor**
- Current proofmode preprocessor code is happening [here](https://github.com/starlinglab/integrity-preprocessor/blob/dev/common/common.py#L39), at `parse_proofmode_data`

## To Do

- [ ] ...

[2022-05-10 15:43] galargh commented on #86
Sync follow-up:

I'll move my markdowns to wiki instead 🚀  and I'll work on them there 🥳

---

@benhylau I think as far as IPFS goes, all we need is to decide where exactly to do `ipfs-cluster-ctl add` (i.e. the answer to this https://github.com/starlinglab/integrity-backend/issues/86#issuecomment-1095725292) + make sure that we init ipfs and ipfs-cluster on the machines.

[2022-05-10 18:38] benhylau commented on #53
Done

[2022-05-10 18:38] #53 closed

[2022-05-10 18:40] benhylau commented on #93
Done

[2022-05-10 18:40] #93 closed

[2022-05-12 18:13] makeworld-the-better-one commented on #89
## Meeting with Numbers - May 12, 2022

Hardware sigs are broken on Starling Capture, or possibly never really worked. As mentioned above, Yurko can't generate valid *software* signatures on our own either. We don't know why, and Zion is no longer supported, so it'll be a ton of work to debug and get this working.

- Option 1: New app
	- Numbers is already working on this
	- Based on Ionic
	- iOS

[2022-05-12 18:17] makeworld-the-better-one commented on #96
Proofmode uses OpenPGP for signatures, so basically only gpg or a gpg wrapper can be used from Python to verify it. Here is some code that shells out to gpg and can verify ProofMode signatures.

[code]

I'm working on integrating this into the preprocessor on my own branch, but it's low priority. I put it here in case @YurkoWasHere wants to jump ahead and use it. Let me know if you do.

[2022-05-12 23:47] YurkoWasHere commented on #96
pgpy seems to not require gpg binary

Don't know if you looked at this, or if it would be valuable vs shell gpg

https://pgpy.readthedocs.io/en/latest/examples.html

[2022-05-16 04:46] YurkoWasHere opened #101 "Authsign signatures very slow"
Authsign signatures takes 2 mins to complete

Traced to this code in `integritybackend/file_util.py`` file def `authsign_sign`

[code]

- [x] Check speed of authsign direct - speed fast
- [x] Check speed from integrity server - curl speed fast
- [x] Check speed from pythong isolated code curl speed fast 2 mins
- [ ] Deploy ipv6 firewall on all servers

[2022-05-16 12:36] YurkoWasHere commented on #101
both localhost and proxied url sign and verifies under 1 second using exact same code

[code]

[2022-05-16 12:51] YurkoWasHere commented on #101
[code]
real    0m0.389s
user    0m0.008s
sys     0m0.000s

while
[code]
    print ("START " + str(datetime.utcnow()))
    r = requests.post(
        _AUTHSIGN_URL + "/sign",
        headers={"Authorization": f"bearer {_AUTHSIGN_TOKEN}"},
        json={"hash": data_hash, "created": dt},
    )
    print ("END " + str(datetime.utcnow()))
[code]

[2022-05-16 13:18] YurkoWasHere commented on #101
adding timout=5 seems to mitigate the problem
[code]

Suggestion is that this indicates a problem with IPV6 and timeout fails over to IPV4 but  CURL works on both ipv6 and 4 quickly.

[2022-05-16 13:31] YurkoWasHere commented on #101
IPv6 firewall was DROP ALL. Updated ansible script to enable ipv6

[2022-05-17 13:59] makeworld-the-better-one commented on #96
Nice find! Looks like it would work for this use case. The advantage is that it wouldn't require a gpg binary to be installed, but the disadvantages are that's it's more likely to have bugs, and having to manage another Python dependency. It seems like shelling out might be better, but I can switch to pgpy if you think that makes more sense.

[2022-05-17 14:53] YurkoWasHere commented on #96
Yes it was a "hidden gem".

I think it makes sense to stick to binary for now. I will have to add this dependency in the ansible scripts.

Can you suggest a Debian package to use (gnupg or gnupg2 or other?)

[2022-05-17 14:59] makeworld-the-better-one commented on #96
Install `gnupg`, that should be all we need. The `gpg` package doesn't have all the tools and so I want to avoid it just in case, and `gnupg2` is just a "dummy transitional package" that adds some symlinks.

[2022-05-17 17:17] YurkoWasHere commented on #96
✅Done

https://github.com/starlinglab/integrity-deploy/commit/dd01cc8c3cdb48585efa7649f14e7df1e0e86dc2

[2022-05-17 18:36] makeworld-the-better-one commented on #89
Using signatures generated by Yurko, Numbers confirms the Zion session key verification fails. But they say they successfully verified the AndroidOpenSSL signature, which is contrary to the results of our test. They are using their [verification tool](https://github.com/numbersprotocol/starling-capture/tree/master/util/verification). Will test with the tool and report back.

[2022-05-19 18:11] makeworld-the-better-one commented on #89
Numbers wants a Zion-disabled signature to investigate things further, so for now the next task is generating that.

[2022-05-26 14:42] makeworld-the-better-one opened #103 "Validation architecture"
## Task Summary

📅 **Due date:** N/A
🎯 **Success criteria:** Detach verification from any specific repo and abstract different kinds of verification as much as possible

## Overview

### Validation methods
- Proofmode (gpg)
- sig66 (starlinglab/organizing-private#66)
- Starling Capture: openssl, zion, zion-session
- Local WACZ: ecdsa - https://github.com/webrecorder/specs/blob/main/wacz-auth/spec.

[2022-05-26 20:11] makeworld-the-better-one commented on #96
PR was merged. As per #103, it will need to be moved from where it is in the preprocessor code into a verify module.

[2022-05-26 20:11] #96 closed

[2022-05-30 19:09] makeworld-the-better-one commented on #103
In progress on verify branch: https://github.com/starlinglab/integrity-preprocessor/tree/verify

[2022-06-02 06:10] benhylau commented on #56
Using Numbers' new API:

Request:

[code]

Response:
[code]

Records:
- assetTree: https://bafkreihvggnxxmxvsdbrspf7zmxo4s3e6in4m3z3c3fnuin6aph3kawhmm.ipfs.infura-ipfs.io/
- nftRecord: https://bafkreihnkmzy5p4bsjmfqwehwwazocu5bgemif3m4zjz2zcx3apvuqibha.ipfs.infura-ipfs.io/
- tokenUri: https://bafkreig6pfhgdjcjhwlh5mrjit2r2ket5luy6ir5lt3orscgeqgftpaptm.ipfs.infura-ipfs.io/

[2022-06-04 03:22] benhylau commented on #56
Q1: Whether JSONs are stored on somewhere in addition to IPFS

Q2: How to specify the author

[2022-06-06 14:21] makeworld-the-better-one commented on #103
## Pull Requests for this issue
- https://github.com/starlinglab/integrity-preprocessor/pull/25
- https://github.com/starlinglab/integrity-backend/pull/108

[2022-06-06 14:26] makeworld-the-better-one commented on #91
Once https://github.com/starlinglab/integrity-preprocessor/pull/25 is merged this can be closed.

[2022-06-09 13:30] makeworld-the-better-one opened #109 "Make test cases pass"
## Task Summary

📅 **Due date:** N/A
🎯 **Success criteria:** CI passes

Build off of #108

[2022-07-05 14:43] makeworld-the-better-one opened #111 "Upgrade to new C2PA"
## Task Summary

📅 **Due date:** N/A
🎯 **Success criteria:** See below

Adobe has released their C2PA software to the public, and the C2PA spec has changed. We must update our software to match the open source tooling, and so that software using the new spec (like Photoshop) can work with our pipeline.

## To Do

- [x] Update code to use new claim tool - https://github.com/contentauth/c2patool
	-

[2022-07-05 19:14] makeworld-the-better-one commented on #111
## PRs
- https://github.com/starlinglab/integrity-schema/pull/9
- https://github.com/starlinglab/integrity-backend/pull/112

[2022-08-11 14:25] makew0rld opened #114 "Refactor archive action"
## Task Summary

📅 **Due date:** N/A
🎯 **Success criteria:** ...

## To Do

- [x] Take org_id instead org_config
- [x] ISCN data model code can be moved to new file

[2022-08-16 15:31] makeworld-the-better-one commented on #111
## Fix Exif data

The `stds.exif` data generated by this repo is wrong. It needs to follow the [XMP Exif spec](https://github.com/adobe/xmp-docs/blob/master/XMPNamespaces/exif.md). There is an example [here](https://c2pa.org/specifications/specifications/1.0/specs/C2PA_Specification.html#_exif_information) from the C2PA spec. Copied below:

[code]

cc @benhylau

[2022-08-16 15:34] benhylau commented on #111
- Buy signing certificate and handle in code
- Resolve GPS format in EXIF

[2022-08-16 15:40] makeworld-the-better-one commented on #89
- [ ] Update for 1.9.2, things are working now supposedly: https://hackmd.io/_BO6OtldSPata5jm4FOVBw?view#2022-08-16
	- Test verification
	- Update HTTP API
	- Update sig verification code

[2022-08-17 16:46] #9 closed

[2022-08-17 16:47] benhylau commented on #88
- Also see [UA data model pad](https://hackmd.io/ALDXEZWjTDeyeoF7cE1AYg?view) on filenames and metadata file structures

[2022-08-17 16:55] benhylau commented on #23
@makeworld-the-better-one this can be the ticket that tracks the test cases for the API work for this quarter. Feel free to add this to existing ticket or track here.

[2022-08-17 16:56] benhylau commented on #24
This seems resolved and no longer happens.

[2022-08-17 16:56] #24 closed

[2022-08-17 16:57] benhylau commented on #54
This is done.

[2022-08-17 16:57] #54 closed

[2022-08-17 16:57] #56 closed

[2022-08-17 16:58] benhylau commented on #62
This is done.

[2022-08-17 16:58] #62 closed

[2022-08-17 16:58] #85 closed

[2022-08-17 17:00] benhylau commented on #67
This is implemented. Refactoring of this is tracked under https://github.com/starlinglab/integrity-backend/issues/114

[2022-08-17 17:00] #67 closed

[2022-08-18 17:35] benhylau commented on #89
I cloned the app from [Numbers' repo](https://github.com/numbersprotocol/starling-capture) and built a modified Starling variant from develop branch.

[code]

With the change:
[code]

And built with:
[code]

Here's the custom APK build for testing https://www.dropbox.com/s/jjliawfl4bwxya2/app-starling-qa-local-for-cole.apk?dl=0

[2022-08-18 18:29] makeworld-the-better-one commented on #89
Currently blocked on this by the app (v1.9.2) seemingly being broken and unusable

[2022-08-18 21:08] makeworld-the-better-one commented on #23
These tests have been lumped in with https://github.com/starlinglab/integrity-preprocessor/pull/25 as that's where the http server is now.

Tests written:
- [x] No JWT
- [x] Good POST
- [ ] Missing signature
- [ ] Non-image?
- [ ] ???

[2022-08-25 18:06] makeworld-the-better-one commented on #89
Turns out the QA build is broken, but the debug one works. QA is being phased out anyway, and in the future Numbers will make a proper release build. I've built my own custom debug build to test with, and things are working! Their end doesn't seem to have changed. I've tested audio as well.

There's one part they send in the form that we don't capture, called `target_provider`. In my testing the v

[2022-08-30 18:25] makeworld-the-better-one commented on #89
I built that with `./gradlew assembleStarlingDebug`, after opening the project in Android Studio to install all the required SDKs, frameworks, deps, etc.

[2022-09-01 13:06] YurkoWasHere opened #116 "Add sourceId to action-archive output"
## Task Summary

📅 **Due date:** N/A
🎯 **Success criteria:** ...

...

## To Do

- [ ] add sourceId from metadata content into output file with hashes

"hash_list" as its called happens around https://github.com/starlinglab/integrity-backend/blob/main/integritybackend/actions.py#L401

Sample from meta-content:
[code]

[2022-09-07 05:42] benhylau commented on #101
Is this still relevant?

[2022-09-07 05:45] #7 closed

[2022-09-07 11:59] YurkoWasHere commented on #101
Patch already done.. Closing issue

[2022-09-07 11:59] #101 closed

[2022-09-27 14:15] #103 closed

[2022-09-27 14:17] #109 closed

[2022-09-27 14:59] #116 closed

[2022-09-27 16:10] YurkoWasHere commented on #111
Generate Self-Signed Certificate for document signing:

[code]

[2022-10-05 18:29] makeworld-the-better-one commented on #111
@benhylau yes, in #112 all the GPS information should be in the correct valid C2PA format. And yes, `_convert_coords_to_c2pa` is the bulk of the change.

[2022-10-05 19:49] makeworld-the-better-one commented on #89
This is done, waiting for https://github.com/starlinglab/integrity-schema/pull/8 before closing.

[2022-10-05 19:49] makeworld-the-better-one commented on #23
Closing as PR with testing has been merged.

[2022-10-05 19:49] #23 closed

[2022-10-05 19:50] makeworld-the-better-one commented on #91
Closing as PR has been merged.

[2022-10-05 19:50] #91 closed

[2022-10-13 16:01] benhylau opened #120 "Migration for C2PA legacy code"
## Task Summary

📅 **Due date:** end-Oct
🎯 **Success criteria:** Get the code that works in lab2 working in mainline.

See: https://github.com/starlinglab/integrity-backend/blob/main/integritybackend/actions.py

## To Do

- [x] Agree on schema from preproc
- [x] Read data from `-meta-content.json`
- [x] Add GPS keys to top level schema for location
  - Note that if GPS and location need to be priv

[2022-11-23 14:32] makeworld-the-better-one commented on #114
Further work needs to be done in #115, see details there.

[2022-11-30 15:44] benhylau commented on #120
- Fix `c2pa_starling_capture`
  - re-enable it
  - read GPS from `-meta-content.json`
  - go over to http pre-proc and make sure GPS is put into `-meta-content.json` under `private`
- Remove `c2pa_add` `c2pa_update` `c2pa_store` `c2pa_custom`

[2022-11-30 15:49] YurkoWasHere commented on #120
Startling "legacy" Capture
https://github.com/starlinglab/integrity-preprocessor/blob/integrity-legacy/folder/main.py#L251-L273

[2022-11-30 18:42] #89 closed

[2022-11-30 20:36] makeworld-the-better-one commented on #120
## PRs
- https://github.com/starlinglab/integrity-schema/pull/13

(Will be updated)